 *,
 *:before,
 *:after {
     margin: 0;
     padding: 0;
 }

 html {
     font-size: 16px;
     box-sizing: inherit;
     height: 100%;
     width: 100%;
     font-family: "Lato", sans-serif;
     font-weight: 500;
     font-style: normal;
 }

 body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
     overflow: hidden;
 }
.dropdown-row {
    text-align: right;
}
#courses-table {
    border-collapse: separate;
}
.table-wrapper {
    max-width: 1200px;
    overflow: auto;
    margin: 50px 0;
}
#currency-selector {
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
}
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
 .courses-table-header-item {
     text-align: center;
     padding: 8px;
     border-bottom: 1px solid #DDD;
 }
 .courses-table-body-item {
     text-align: center;
     padding: 8px;
     border-bottom: 1px solid #DDD;
 }
 .big-title {
     min-width: 150px;
 }
 .description-title {
     min-width: 250px;
 }
 .image-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 8px;
 }
 .course-image {
     width: 150px;
 }